.main-container{
	width: 800px;
}

#information{
	margin-top: 100px; 
	margin-left: auto; 
	padding-top: 20px; 
	padding-bottom: 50px; 
	background-color: #333;
	color: #FFF;
}
#quote{
	font-size: 30px;
	text-align: center;
	color: #FFCB00;
}
#back{
	font-size: 23;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: aliceblue;
}
h1:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 15px 15px 15px 0;
	border-color: transparent aliceblue;
	display: block;
	width: 0;
	z-index: 1;
	left: -15px;
	top: 45px;
}
#robin{
	float: left;
	left: -100px;
	top: 100px;
}

body{
	font-family: Lobster;
}
p{
	font-family: Oswald;
	font-size: 20px;
    text-align: justify;
}
h1{
	font-size: 88px;
}
h2{
	font-size: 55px;
}
h3{
	color: #FDE597;
}
footer{
	text-align: center;
	padding: 10px;
	background-color: #ccc;
    width:100%;
}
img {
	margin-top: 50px; 
	margin-bottom: 50px; 
    -webkit-border-radius: 100%;
       -moz-border-radius: 100%;
            border-radius: 100%;	
}


/*modif bootstrap*/
.btn-large{
    padding: 15px 25px;
    font-size: 20px;
}