.main-container{
	width: 800px;
}

#information{
	background-color: #333;
	color: #FFF;
	margin-top: 200px; 
	padding-top: 20px; 
	padding-bottom: 50px; 
	margin-left: auto; 
}
#quote{
	font-size: 30px;
	text-align: center;
	color: #FD5454;
}

body{
	font-family: Lobster;
}
p{
	font-family: Oswald;
	font-size: 20px;
}
h1{
	font-size: 88px;
}
h2{
	font-size: 55px;
}
h3{
	color: #FDE597;
}
footer{
	text-align: center;
	padding: 10px;
	background-color: #ccc;
   	bottom:0px;
    width:100%;
}
img {
	margin-top: 100px; 
	margin-bottom: 200px; 
    -webkit-border-radius: 100%;
       -moz-border-radius: 100%;
            border-radius: 100%;	
}


/*modif bootstrap*/
.btn-large{
    padding: 15px 25px;
    font-size: 20px;
}